body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #8181F7;
}

.quem-somos{
    background-color: #585858;
    color: #ffffff;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #8181F7;
    color: white;
}

.bg-footer{
    background: black;
    color: white;
}